.avatar {
  border-radius: 50%;
}
.avatar.xsmall {
  width: 16px;
  height: 16px;
}
.avatar.small {
  width: 30px;
  height: 30px;
}
.avatar.medium {
  width: 48px;
  height: 48px;
}
.avatar.large {
  width: 80px;
  height: 80px;
}
.avatar.xlarge {
  width: 100px;
  height: 100px;
}
