body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
button,
input {
  font-family: neue-haas-grotesk-text, Helvetica, Arial, sans-serif;
}

/* Fonts */

@font-face {
  font-family: "neue-haas-grotesk-text";
  src: url("https://use.typekit.net/af/1285d2/00000000000000003b9b2050/27/l?subset_id=2&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/1285d2/00000000000000003b9b2050/27/d?subset_id=2&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/1285d2/00000000000000003b9b2050/27/a?subset_id=2&fvd=n4&v=3")
      format("opentype");
  font-style: simple;
  font-weight: 400;
}

@font-face {
  font-family: "neue-haas-grotesk-text";
  src: url("https://use.typekit.net/af/550c82/00000000000000003b9b2052/27/l?subset_id=2&fvd=n5&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/550c82/00000000000000003b9b2052/27/d?subset_id=2&fvd=n5&v=3")
      format("woff"),
    url("https://use.typekit.net/af/550c82/00000000000000003b9b2052/27/a?subset_id=2&fvd=n5&v=3")
      format("opentype");
  font-style: simple;
  font-weight: 500;
}

@font-face {
  font-family: "neue-haas-grotesk-text";
  src: url("https://use.typekit.net/af/abbb5b/00000000000000003b9b2054/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/abbb5b/00000000000000003b9b2054/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/abbb5b/00000000000000003b9b2054/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-style: simple;
  font-weight: 700;
}
